<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Edit Doctor Details </title>
</head>

<body>
	<div layout:fragment="content" class="row page-edit">
		<div class="row">
			<form th:action="@{/doctor/appointment/prescribe}" th:object="${prescription}" method="post">

			<h2>
				Prescription | Amount : <input type="text" name="amount"/>
			</h2>
				<table class="tbl-form">
													
					<tr>
						<td ><textarea class="form-control" name="prescription" style="width:900px" rows="10" ></textarea></td >
					</tr>
				</table>
				
				<input type="hidden" name="appointmentId" th:value="${obj.id}" />
				<input type="hidden" name="doctorId" th:value="${obj.doctorId}" />
				<input type="hidden" name="patientId" th:value="${obj.patientId}" />
				<button type="submit" class="btn btn-success btn-submit">Submit</button>
			</form>
		</div>
	</div>
</body>

</html>