<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Edit Doctor Details </title>
</head>

<body>
	<div layout:fragment="content" class="row page-edit">
		<div class="row">
			<h2> My Profile </h2>
			<form th:action="@{/doctor/profile}" th:object="${doctor}" method="POST">
				<table class="tbl-form">
					<tr>
						<td>Name</td>
						<td><input type="text" class="form-control" name="name" th:value="${obj.name}" /></td>
						<td width="50px"> &nbsp; </td >
						<td>Phone</td>
						<td><input type="text" class="form-control" name="phone" th:value="${obj.phone}" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><input type="text" class="form-control" name="email" th:value="${obj.email}" /></td>
					<td></td>
						<td>Gender</td>
						<td>
							<input type="radio" class="form-check-input" name="gender" value="male"
								th:checked="${obj.gender == 'male'}" /> Male
							&nbsp; &nbsp; &nbsp; &nbsp;
							<input type="radio" class="form-check-input" name="gender" value="female"
								th:checked="${obj.gender == 'female'}" /> Female
						</td>
					</tr>
					<tr>
						<td>Qualification</td>
						<td><input type="text" class="form-control" name="qual" th:value="${obj.qual}" /></td>
					<td></td>
						<td>Experience</td>
						<td><input type="text" class="form-control" name="experience" th:value="${obj.experience}" /></td>
					</tr>
					<tr>
						<td>Specialization</td>
						<td><input type="text" class="form-control" name="special" th:value="${obj.special}" /></td>
					<td colspan=3></td >
					</tr>
										
					<tr>
						<td rowspan="2">Address</td >
						<td rowspan="2"><textarea class="form-control" name="address" cols="25" rows="3"
								th:text="${obj.address}"></textarea></td >
						<td rowspan="2"></td >
						<td>Username</td>
						<td><input type="text" class="form-control" name="username" th:value="${obj.username}" /></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" class="form-control" name="password"  th:value="${obj.password}"/></td>
					</tr>
				</table>
				<input type="hidden" name="id" th:value="${obj.id}" />
				<button type="submit" class="btn btn-success btn-submit">Update</button>
			</form>
		</div>
	</div>
</body>

</html>