<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Patient List</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-list">
			<h2>
				My Appointments
			</h2>
			<div class="table-responsive">
				<table class="table table-striped page-details table-bordered container">
					<thead class="table-dark">
						<tr>
							<th>Patient</th>
							<th>Date</th>
							<th>Time</th>
							<th>Status</th>
							<th>Reason</th>
							<th>Action</th>
							<th>Prescribe</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">

							<td th:text="${data.patientId}"></td>
							<td th:text="${data.date}"></td>
							<td th:text="${data.time}"></td>
							<td th:text="${data.status}"></td>
							<td th:text="${data.reason}"></td>

							<td th:if="${data.status == 'Booked'}"><a
									th:href="@{'/doctor/appointment/delete/' + ${data.id}}">
									Cancel
								</a></td>
							<td th:if="${data.status == 'Completed'}">Completed</td>
							<td th:if="${data.status == 'Cancelled'}">Cancelled</td>
							
							<td th:if="${data.status == 'Cancelled'}"></td>
							<td th:if="${data.status == 'Booked'}"><a th:href="@{'/doctor/appointment/prescribe/' + ${data.id}}">
							Prescribe</a></td>
							<td th:if="${data.status == 'Completed'}"><a th:href="@{'/patient/appointment/prescribtion/' + ${data.id}}">
							Prescription</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>