<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Show Staff</title>
    </head>
    <body>
        <div layout:fragment="content" class="row page-view">
            <div class="row">
                <h2>
                	Doctor : <span th:text="${obj.firstName}" ></span> Details
                </h2>
                
                <table class="tbl-show table table-bordered ">
                	<tr><td>Phone</td><td th:text="${obj.phone}"></td ></tr>
                	<tr><td>Email</td><td th:text="${obj.email}"></td ></tr>
                	<tr><td>Address</td><td th:text="${obj.address}"></td ></tr>
                	<tr><td>Gender</td><td th:text="${obj.gender}"></td ></tr>
                	<tr><td>Qualification</td><td th:text="${obj.qual}"></td ></tr>
                	<tr><td>Experience</td><td th:text="${obj.experience}"></td ></tr>
                	<tr><td>Specialization</td><td th:text="${obj.special}"></td ></tr>
                </table >

                <form action="/doctor/delete">
                    <input type="hidden" name="id" th:value="${obj.id}" />
                    <h2><input type="submit" class="btn btn-danger btn-submit" value="Delete" onclick="return confirm('Are you sure?');" />
                        <a th:href="@{'/doctor/edit/' + ${obj.id}}" class="btn btn-warning btn-submit">Edit</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>