<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Create Staff</title>
	<style>
		input[type='date'],
		select {
			margin: 5px;
		}

		input[type="date"] {
			height: 30px;
		}
	</style>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content" class="row page-create">
		<div class="row">
			<h2>
				Doctor Details
			</h2>
				<table class="tbl-form" style="margin:auto; width: 900px;">
					<tr>
						<td width="200px">Name</td>
						<td width="200px" th:text="${obj.firstName}" /></td>
						<td width="200px"> &nbsp; </td >
						<td width="200px">Phone</td>
						<td width="200px"th:text="${obj.phone}" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td th:text="${obj.email}" /></td>
					<td></td>
						<td>Gender</td>
						<td	th:text="${obj.gender}" /></td>
					</tr>
					<tr>
						<td>Qualification</td>
						<td th:text="${obj.qual}" /></td>
					<td></td>
						<td>Experience</td>
						<td th:text="${obj.experience}" /></td>
					</tr>
					<tr>
						<td>Specialization</td>
						<td th:text="${obj.special}" /></td>
					<td colspan=3></td >
					</tr>
										
				
				</table>

			
			<form th:action="@{/patient/appointment}" th:object="${appointment}" method="post">
				<input type="hidden" name="doctorId" th:value="${obj.id}" />
				<input type="hidden" name="date" th:value="${date}" />

				<table class="tbl-form">
					<tr>
						<td width="80px">Date : </td>
						<td th:text="${date}" /></td>
						<td width="30px"> &nbsp; </td>
						<td>Avaliable Time Slots</td>
						<td>
							<select name="time">
								<option th:each="data : ${datalist}" th:text="${data.time}" th:value="${data.time}" >
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Reason : </td>
						<td colspan="4"><textarea rows="3" name="reason" style="width:550px"></textarea></td>
					</tr>
					<tr>
						<td colspan="5" style="text-align: center;">
							<button type="submit" class="btn btn-success btn-submit">Fix Appointment</button>
						</td>
					</tr>

				</table>

			</form>
		</div>
	</div>
</body>

</html>