<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Create Patient</title>
</head>

<body>
	<div layout:fragment="content" class="row page-create">
		<div class="row">
			<h2>
				Add Review
			</h2>

			<table class="tbl-show table table-bordered">
				<tr>
					<td>Patient Id</td>
					<td th:text="${patient.id}"></td>
					<td>Patient Name</td>
					<td th:text="${patient.name}"></td>
				</tr>
				<tr>
					<td>Doctor Id</td>
					<td th:text="${doctor.id}"></td>
					<td>Doctor Name</td>
					<td th:text="${doctor.firstName}"></td>
				</tr>
				<tr>
					<td>Appointment Date</td>
					<td th:text="${appointment.date +' : '+	appointment.time}"></td>
					<td>Reason</td>
					<td th:text="${appointment.reason}"></td>
				</tr>
				<tr>
					<td>Prescription</td>
					<td colspan="3" th:text="${prescription.prescription}"></td>
				</tr>

			</table>

			<form th:action="@{/patient/review/save}" th:object="${review}">
				<br>
				<table class="tbl-form">
					<tr>
						<td>Rating</td>
						<td><select class="form-control" name="rating" th:field="${obj.rating}">
								<option value="1">1-> Very Poor </option>
								<option value="2">2-> Poor</option>
								<option value="3">3-> Good</option>
								<option value="4">4-> Very Good</option>
								<option value="5">5-> Excellent</option>
							</select>
						</td>
					</tr><tr>
						<td>Review</td>
						<td><textarea class="form-control" name="review" rows="3" style="width: 500px;"
								th:text="${obj.review}"></textarea></td>

					</tr>
				</table>
				<input type="hidden" name="id" th:value="${obj.id}" />
				<input type="hidden" name="appointmentId" th:value="${appointment.id}" />
				<input type="hidden" name="doctorId" th:value="${doctor.id}" />
				<input type="hidden" name="patientId" th:value="${patient.id}" />
				<button type="submit" class="btn btn-success btn-submit">Submit</button>
			</form>
		</div>
	</div>
</body>

</html>