<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Ward List</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-list">
			<h2>
				Patient Reviews
			</h2>
			<div class="table-responsive">
				<table class="table table-striped page-details table-bordered container">
					<thead class="table-dark">
						<tr>
							<th>Appointment Id</th>
							<th>Patient Id</th>
							<th>Doctor Id</th>
							<th>Rating</th>
							<th>Review</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">
							
							<td th:text="${data.appointmentId}"></td>
							<td th:text="${data.patientId}"></td>
							<td th:text="${data.doctorId}"></td>
							<td th:text="${data.rating}"></td>
							<td th:text="${data.review}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>