<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
	<title>Staff List</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-list">
			<h2>
				Nurse Details 
			</h2>
			<div class="table-responsive">
				<table class="table table-striped page-details table-bordered container">
					<thead class="table-dark">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Manage</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">
							
							<td th:text="${data.firstName}"></td>
							<td th:text="${data.lastName}"></td>
							<td th:text="${data.phone}"></td>
							<td th:text="${data.email}"></td>
							<td><a th:href="@{'/staff/show/' + ${data.id}}">
									Manage</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>